/*==================== Main styles ======================*/

html body .general-footer {
  flex: 0 0 auto;
  height: 64px;
  line-height: 24px;
  padding: 20px 0px;
  margin-top: 150px;
  background-color: #000000;
  -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.6);
}

/*----------------------- Main --------------------------*/

html body .g-block-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

html body .g-block-footer__credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html body .g-block-footer__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html body .g-block-footer__project_title {
  display: inline-block;
  text-align: center;
  font-family: Montserrat-ExtraLight;
  font-size: 20px;
  color: #8d8d8e;
}

html body .g-block-footer__project_title span {
  font-family: Montserrat-Bold;
  color: rgba(255, 0, 0, 0.8588235294);
}

html body .g-block-footer__copyrights {
  font-size: 14px;
  padding-right: 20px;
  margin-right: 20px;
  color: #8d8d8e;
  border-right: 2px solid rgba(106, 105, 107, 0.6);
}

/*-------------------------------------------------------*/

/*----------------------- Nav ---------------------------*/

html body .g-actions-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

html body .g-actions-footer__link {
  font-size: 14px;
  margin-right: 20px;
  color: #8d8d8e;
  text-transform: capitalize;
}

html body .g-actions-footer__link:hover {
  color: #bbbbcc;
}

html body .g-actions-footer__link_btn {
  font-family: Montserrat-Bold;
  line-height: 1.1;
  padding: 10px 25px;
  margin: 10px 30px;
  border: 2px solid #8d8d8e;
  border-radius: 20px;
  text-transform: uppercase;
  -webkit-transition: background-color .2s linear, color .2s linear;
  -o-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
}

html body .g-actions-footer__link_btn:hover {
  background-color: #bbbbcc;
  color: #000000;
}

html body .g-actions-footer__link:last-child {
  margin-left: 0;
}

@supports (-webkit-appearance:none) {}

/*-------------------------------------------------------*/

/*=======================================================*/


/*======================= Media =========================*/

@media (max-width: 790px) {
  html body .general-footer {
    height: auto;
    line-height: normal;
  }

  html body .g-block-footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  html body .g-block-footer__credits {
    margin: 20px 0px 0px 0px;
  }

  @supports (-webkit-appearance:none) {}

}

@media (max-width: 600px) {
  html body .g-block-footer__credits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
  }

  html body .g-block-footer__copyrights {
    border: none;
    margin: 0;
    padding: 0;
  }

  html body .g-block-footer__project {
    margin: 0px 0px 20px 0px;
  }

  html body .g-block-footer__project_title {
    font-size: 18px;
  }

  html body .g-actions-footer__link {
    margin-right: 10px;
  }

  html body .g-actions-footer__link:last-child {
    margin-left: 10px;
  }

  @supports (-webkit-appearance:none) {}

}

/*=======================================================*/